
.idea
.vscode
node_modules
.code-workspace
/**/.nuxt
/**/.output
*_result.*
coverage
dist
!packages/front-icons/dist
yarn-error.log
db.json
.env
.DS_Store
storybook-static
temp/
/.yarn/cache
!/.yarn/releases
/packages/**/jest-html-reporters-attach/
jest/*
jest-html-reporters-attach/*
